<link rel="stylesheet" href="/public/css/slider.css">
<div class="content">
    <section class="slider-container">
        <div class="slider" id="slider">
            <div class="slider_section">
                <img src="/assets/img/eldenR.jpg" alt="" class="img_slider">
            </div>
            <div class="slider_section">
                <img src="/assets/img/horizon-forbidden-west2.jpeg" alt="" class="img_slider">
            </div>
            <div class="slider_section">
                <img src="/assets/img/ss_b65236b365315ebb6da6114ce42cd74b59cab3c8.600x338.jpg" alt="" class="img_slider">
            </div>

        </div>
        <div class="slider_btn btn_left" id="btn_left"> &#60; </div>
        <div class="slider_btn btn_right" id="btn_right"> &#62; </div>
    </section>
</div>

<script src="../public/js/slider.js"></script>