<link rel="stylesheet" href="/public/css/slider.css">
<div class="content">
    <section class="slider-container">
        <div class="slider" id="slider">
            <div class="slider_section" style="background-color: #000;"></div>
            <div class="slider_section" style="background-color: blue;"></div>
            <div class="slider_section" style="background-color: red;"></div>
        </div>
        <div class="slider_btn btn_left" id="btn_left"> &#60; </div>
        <div class="slider_btn btn_right" id="btn_right"> &#62; </div>
    </section>
</div>

<script src="../public/js/slider.js"></script>